@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

@font-face {
    font-family: 'MyCustomFont';
    src: url('./font/behance-65a9ae29a5cd4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all .5s ease;
}
a{
    text-decoration: none;
}

:root {
    --dark-red: #e65c50;
    --light-red: #faccc3;
    --dark-blue: #135675;
    --light-blue: #b1d6d6;
    --title: #65baba;
}

.chinese {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.english {
    font-family: 'MyCustomFont', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
body{
    background-color: #faebe8;

}

/* navbar */
.menu-container{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
.toggler{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
}
.hamburger{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.hamburger::before{
    content: '';
    position: fixed;
    top: -50px;
    right: -50px;
    width: 150px;
    height: 150px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    z-index: -10;
    border: var(--light-blue) 5px solid;
}
.hamburger::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  width: 150px;
  height: 150px;
  background-color: var(--light-blue);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0.8;
  z-index: -20;
  animation: ripple 1.5s infinite ease-out;
  transition: .5s ease-in-out;
}
@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  40% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.3;
  }
  75% {
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.hamburger div{
    position: absolute;
    width: 50%;
    height: 3px;
    border-radius: 1.5px;
    background-color: var(--light-blue);
    transition: .4s;
}
.hamburger div::before,.hamburger div::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: var(--light-blue);
    transition: .4s;
}
.hamburger div::before{
    top: -10px;
}
.hamburger div::after{
    top: 10px;
}
.toggler:checked + .hamburger div{
    transform: rotate(135deg);
}
.toggler:checked:hover + .hamburger div{
    transform: rotate(225deg);
}
.toggler:checked + .hamburger div::before,
.toggler:checked + .hamburger div::after{
    transform: rotate(90deg);
    top: 0;
}

.toggler:checked ~ .menu{
    visibility: visible;
}
.toggler:checked ~ .menu .menu-inner{
    transform: translateX(50%) translateY(-50%);
    opacity: 1;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    transition: .6s;
    width: 100vw;
    height: 100vh;
}
.menu .menu-inner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    right: 50%;
    transform: translateX(150%) translateY(-50%);
    background-color: rgb(177, 214, 214,.9);
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}
.menu ul,.menu li{
    margin: 0;
    padding: 0;
}
.menu a{
    font-size: 1.5rem;
    margin: 2rem 0;
    display: inline-block;
    font-weight: 550;
    color: var(--dark-blue);
}
.menu a:hover{
    color: var(--dark-red);
}


/* banner */
.banner{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: url(img/bc.png) no-repeat center center,#fff;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
/* 背景動畫 */
.elements div {
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--light-red);
    border: 3px solid var(--dark-red);
    border-radius: 50%;
}

@keyframes particles {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.8;
        border-radius: 50%;
    }
    100% {
        transform: translateY(-200px) scale(0.5);
        opacity: 0;
        border-radius: 50%;
    }
}
.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.banner-content span.small{
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: #555;
}
.banner-content h1{
    font-size: 8em;
    font-weight: 800;
    letter-spacing: 0.2em;
    line-height: 2em;
}
.banner-content h1 span{
    position: relative;
}
.banner-content h1 span::after{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 30%;
}
.banner-content h1 span:nth-child(3):after{
    background: url(img/banner-small1.png) no-repeat center bottom;
    background-size: cover;
}
.banner-content h1 span:nth-child(4):after{
    background: url(img/banner-small2.png) no-repeat center bottom;
    background-size: cover;
}
.banner-content h1 span:nth-child(5):after{
    background: url(img/banner-small3.png) no-repeat center bottom;
    background-size: cover;
}
.banner-content h1 span {
  display: inline-block;
  animation: wave 1.8s infinite ease-in-out;
}

.banner-content h1 span:nth-child(2) { animation-delay: 0.1s; }
.banner-content h1 span:nth-child(3) { animation-delay: 0.2s; }
.banner-content h1 span:nth-child(4) { animation-delay: 0.3s; }
.banner-content h1 span:nth-child(5) { animation-delay: 0.4s; }

@keyframes wave {
    0%, 100% { 
        transform: translateY(20px); 
        text-shadow: 0 0 0 #f2f2f2;
    }
    50% { 
        transform: translateY(-20px); 
        text-shadow: 2px 10px 5px #d3d3d3;
    }
}

.banner-content h2{
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.banner-content a{
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin-top: 2em;
    text-align: center;
    color: #888;
    animation: jump 1s infinite ease;
}
@keyframes jump{
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
        
    }
}
.banner-content a:hover{
    color: var(--dark-blue);
}
.bottom{
    position: absolute;
    left: 50px;
    bottom: 10px;
}
.bottom p{
    font-size: 1.2em;
    letter-spacing: 0.3em;
    color: #888;
    font-weight: 600;
}

/* conetent */
.content{
    height: 90vh;
    position: relative;
}
.content1{
    background: url(img/business.png) no-repeat right top;
}
.content2{
    background: url(img/international.png) no-repeat right top;
}
.content3{
    background: url(img/data.png) no-repeat right top;
}
.slogan{
    position: absolute;
    left: 50px;
    top: 0;
    width: 600px;
    height: 300px;
    /* background-color: red; */
}
.slogan::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 65px;
    background-color: #555;
}
.slogan p{
    padding: 40px 30px 0;
    color: #555;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 0;
}
.right-corner{
    position: absolute;
    bottom: 170px;
    right: 190px;
    width: 80px;
    height: 100px;
    background: url(img/card-top.png) no-repeat center center;
    background-size: cover;
}
.main-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
.bg{
    position: absolute;
    content: '';
    width: 1250px;
    height: 150px;
    border-radius: 20px;
    background-color: #f2f2f2;
    bottom: 200px;
}
.left-corner{
    position: absolute;
    top: 21%;
    left: 14%;
    width: 400px;
    height: 300px;
    background: url(img/left-corner.png) no-repeat;
}
.left-corner2{
    position: absolute;
    top: 21%;
    left: 14%;
    width: 450px;
    height: 300px;
    background: url(img/left-corner2.png) no-repeat;
}
.left-corner3{
    position: absolute;
    top: 21%;
    left: 14%;
    width: 400px;
    height: 300px;
    background: url(img/left-corner3.png) no-repeat;
}
.title-image{
    position: absolute;
    top: 70px;
    width: 70px;
}
.content h1{
    font-size: 3.5em;
    font-weight: 800;
    letter-spacing: 5px;
    margin-top: 10px;
}
.card-wrapper{
  max-width: 1200px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}
/* 單一卡片 */
.card-item{
  list-style: none;
  padding: 10px;
}
.card-link{
  user-select: none;
  display: block;
  border-radius: 10px;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 5px 10px #999;
}
.right-top{
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1000;
    width: 50px;
}
.card-link .project-image{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.project-body{
    padding: 12px 20px;
    position: relative;
}
.project-title{
    color: #65baba;
    letter-spacing: 7px;
    font-size: 1.4em;
    font-weight: 800;
}
.project-content{
    font-size: 0.8em;
    color: #555;
    font-weight: 600;
    margin: 8px 0;
    letter-spacing: 5px;
}
.text-right{
    text-align: right;
    padding-right: 20px;
}
.more{
    color: #65baba;
}
/* 箭頭、點點樣式 */
.swiper-button-prev,.swiper-button-next{
    color: var(--dark-red);
}
.swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: .5;
    background: var(--dark-red);
}
.swiper-pagination-bullet-active{
    opacity: 1;
}
